---
import { fetchTorneo } from "@/consts/Torneos";
import Layout from "@/layouts/Layout.astro";
import "glightbox/dist/css/glightbox.min.css";

interface Torneo {
  slug: string;
  title: string;
  content: string;
  featuredImage: string;
}

const { slug } = Astro.params;

if (!slug) {
  return Astro.redirect("/torneos");
}

const torneo = (await fetchTorneo(slug)) as Torneo;

if (!torneo) {
  return Astro.redirect("/torneos");
}
---

<Layout
  title={torneo.title}
  description={torneo.content}
  image={torneo.featuredImage}
>
  <div class="flex flex-col max-w-5xl mx-auto min-h-screen mt-16">
    <!-- Hero Section -->
    <header
      class="relative flex flex-col justify-center items-center h-64 mb-12 overflow-hidden"
    >
      <img
        src={torneo.featuredImage}
        alt={torneo.title}
        class="absolute inset-0 w-full h-full object-cover brightness-75 saturate-150 blur-md"
      />
      <div class="relative z-10 text-center">
        <h1
          class="text-4xl md:text-5xl font-extrabold text-white uppercase tracking-wide"
        >
          {torneo.title}
        </h1>
      </div>
    </header>

    <!-- Main Content -->
    <main class="flex flex-col gap-8 px-4 md:px-0">
      <section class="bg-black/40 rounded-lg shadow-md p-6">
        <div
          id="content-body"
          class="prose prose-invert max-w-none font-rubik leading-relaxed"
          set:html={torneo.content}
        />
      </section>
    </main>

    <!-- Call to Action -->
    <footer class="mt-12 text-center">
      <a
        href="/torneos"
        class="inline-block px-6 py-3 bg-blue-600 text-white text-lg font-medium rounded-lg shadow-lg hover:bg-blue-700 transition-all duration-300"
      >
        Ver otros torneos
      </a>
    </footer>
  </div>
</Layout>

<style is:global>
  .wp-block-button {
    @apply mt-8;
  }
  .wp-block-button__link.wp-element-button {
    @apply inline-block font-medium text-sm text-white/70 mx-auto text-center px-3 py-2 no-underline rounded-full bg-violet-500/20 gap-1 hover:bg-violet-500/30 transition-all duration-300 hover:scale-105;
  }

  .wp-block-group.is-nowrap.is-layout-flex.wp-container-core-group-is-layout-1.wp-block-group-is-layout-flex {
    @apply flex flex-col md:flex-row gap-8;
  }

  .wp-block-image.aligncenter img {
    @apply mx-auto;
  }

  .has-text-align-center {
    @apply text-center;
  }

  .has-text-align-right {
    @apply text-right;
  }
</style>

<script>
  import { $$ } from "@/lib/dom-selector";
  import GLightbox from "glightbox";

  document.addEventListener("astro:page-load", () => {
    const $images = $$("#content-body img") as unknown as HTMLImageElement[];
    const $links = $$("#content-body a") as unknown as HTMLAnchorElement[];

    /* 
        Make buttons and link to open in /wp-post/${slug}, because 
        we are using Astro to fetch the content from the WordPress API
    */

    $links.forEach(($link) => {
      const href = $link.getAttribute("href");
      const url = new URL(href || "", window.location.origin);
      const pathname = url.pathname.replace(/\/$/, ""); // Elimina la barra final si existe
      const slug = pathname.split("/").pop(); // Obtiene el último segmento de la URL

      // Reemplaza el href del enlace con el formato interno
      $link.setAttribute("href", `/wp-post/${slug}`);
    });

    $images.forEach(($img) => {
      $img.setAttribute("data-glightbox", `src: ${$img.src}`);
      $img.classList.add(
        ...[
          "cursor-pointer",
          "hover:opacity-80",
          "transition",
          "duration-300",
          "ease-in-out",
          "hover:scale-105",
        ]
      );
      $img.addEventListener("click", (e) => e.preventDefault());
    });

    const lightbox = GLightbox({
      selector: "[data-glightbox]",
    });
  });
</script>
