---
import PageBreadcrumb from "@/components/PageBreadcrumb.astro";
import Layout from "@/layouts/Layout.astro";
import { getEventAssistants, getEventById } from "@/lib/events";
import { getSession } from "auth-astro/server";
import { ParticipeOnEvent } from "@/components/events/ParticipeOnEvent.tsx";
import { LucideCalendar, LucideUsers } from "lucide-preact";
import { DateTime } from "luxon";

const { eventId } = Astro.params;

const session = await getSession(Astro.request);

const event = await getEventById(parseInt(eventId!));

if (!event) {
  return new Response("Evento no encontrado", { status: 404 });
}

const assistants = await getEventAssistants(event.id);
---

<Layout
  title={event.name}
  description={event.description!}
  image={event.cover!}
>
  <div class="flex flex-col max-w-7xl mx-auto min-h-screen px-4 sm:px-6">
    <PageBreadcrumb
      breadcrumbs={[
        { text: "Eventos", href: "/eventos" },
        { text: event.name, href: `/eventos/${eventId}` },
      ]}
      pathname={`/eventos/${eventId}`}
    />
    <header
      class="flex flex-col md:flex-row gap-4 md:items-start justify-between mb-6"
    >
      <div>
        <div class="flex flex-wrap items-center gap-2 mb-2">
          <!-- 
                Badges
            -->
        </div>
        <h1 class="text-3xl font-rubik font-medium tracking-tight">
          {event.name}
        </h1>
        <p class="text-neutral-500 mt-1 text-sm max-w-[60ch]">
          {
            event.description?.length > 120
              ? event.description?.slice(0, 120) + "..."
              : event.description
          }
        </p>
      </div>
      <aside class="flex flex-wrap gap-2">
        <ParticipeOnEvent
          event={event}
          assistants={assistants}
          session={session}
          client:load
        />
      </aside>
    </header>

    <div class="grid gap-6 md:grid-cols-3">
      <div class="md:col-span-2">
        <article
          class="rounded-lg border border-neutral-800 bg-neutral-500/10 shadow-sm"
        >
          <div class="aspect-video relative">
            <img
              alt={event.name}
              loading="lazy"
              decoding="async"
              class="object-cover rounded-t-lg"
              src={event.cover || "/og.webp"}
            />
          </div>
          <div class="p-6 pt-8 space-y-4">
            <div class="prose max-w-none prose-invert prose-neutral">
              <p>{event.description}</p>
            </div>
          </div>
        </article>
      </div>

      <aside class="flex flex-col space-y-6">
        <div class="bg-neutral-800/10 rounded-lg border border-neutral-800 p-4">
          <header class="flex flex-col space-y-1.5 p-6">
            <h3 class="text-2xl font-semibold leading-none tracking-tight">
              Detalles del evento
            </h3>
          </header>
          <div class="p-6 pt-0 space-y-4">
            <div class="flex items-center gap-3">
              <LucideCalendar class="h-5 w-5 text-neutral-300" />
              <div>
                <p class="text-sm font-semibold">Fecha y hora</p><p
                  class="text-sm"
                >
                  {
                    DateTime.fromISO(event.startDate.toISOString()).toFormat(
                      "dd LLLL yyyy"
                    )
                  } a las {
                    DateTime.fromISO(event.startDate.toISOString()).toFormat(
                      "HH:mm"
                    )
                  }
                </p>
              </div>
            </div>
            <div class="flex items-center gap-3">
              <LucideUsers class="h-5 w-5 text-neutral-300" />
              <div>
                <p class="text-sm font-semibold">Asistentes</p>
                <p class="text-sm">
                  {assistants.length} asistentes
                </p>
              </div>
            </div>
          </div>
        </div>

        <!--  -->

        <div class="bg-neutral-800/10 rounded-lg border border-neutral-800 p-4">
          <header class="flex flex-col space-y-1.5 p-6">
            <h3 class="text-2xl font-semibold leading-none tracking-tight">
              Organizadores
            </h3>
          </header>
          <div class="p-6 pt-0 space-y-4">
            <div class="flex items-center gap-3">
              <span
                class="relative flex shrink-0 overflow-hidden rounded-full h-10 w-10 border-2 border-primary"
                ><img
                  class="aspect-square h-full w-full"
                  alt={event.mainOrganizer.displayName}
                  src={event.mainOrganizer.avatar!}
                /></span
              ><div>
                <p class="font-medium">
                  {event.mainOrganizer.displayName}
                </p><p class="text-xs text-neutral-500">
                  Organizador principal
                </p>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</Layout>
