---
import PageBreadcrumb from "@/components/PageBreadcrumb.astro";
import { UserAccountLayout } from "@/components/UsersPage/UserAccountLayout";
import Layout from "@/layouts/Layout.astro";
import { getDiscordUser } from "@/services/discord";
import { getSession } from "auth-astro/server";
import {
  LucideCheckCircle,
  LucideExternalLink,
  LucideLogOut,
} from "lucide-preact";

const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect("/");
}

const discordUser = session?.user?.discordId
  ? await getDiscordUser(session.user.discordId)
  : null;
---

<Layout title="Mi cuenta">
  <div class="max-w-screen-full mx-auto px-4">
    <PageBreadcrumb
      pathname="/usuario"
      breadcrumbs={[
        {
          text: "Mi cuenta",
          href: "/usuario",
        },
      ]}
    />

    <div class="grid gap-6 md:grid-cols-[250px_1fr] lg:grid-cols-[300px_1fr]">
      <aside class="flex flex-col gap-4">
        <section
          class="p-4 relative rounded-lg bg-[#0b1422] overflow-hidden border border-line"
        >
          <div class="flex flex-col space-y-1.5 p-4">
            <div class="flex flex-col items-center text-center">
              <picture
                class="relative bg-box p-1 border border-line inline-block overflow-hidden rounded-[22px] mb-3"
              >
                <img
                  src={session.user.image}
                  alt={`Foto de perfil de ${session.user.name}`}
                  width="200"
                  height="200"
                  class="z-10 relative rounded-[18px] size-16"
                />
              </picture>
              <div>
                <h3 class="text-md font-semibold leading-none tracking-tight">
                  {session.user.name}
                </h3>
                <p class="text-neutral-400 text-xs mt-1">
                  {session.user.email}
                </p>
              </div>
            </div>
          </div>
          <nav class="grid">
            <button
              id="account-logout"
              class="flex items-center gap-3 px-4 py-3 text-sm text-red-400 hover:bg-red-400/10 transition-colors text-left"
            >
              <LucideLogOut class="size-5" />
              <span class="text-red-400">Cerrar sesión</span>
            </button>
          </nav>
        </section>

        <section
          class="p-4 relative rounded-lg bg-[#0b1422] overflow-hidden border border-line text-center lg:text-left"
        >
          <div class="flex flex-col space-y-1.5 p-4">
            <h3 class="font-semibold tracking-tight text-base">Suscripción</h3>
          </div>
          <div class="p-4 pt-0">
            <article class="flex items-start gap-3">
              <img
                src="/twitch-icon.png"
                class="size-12 relative z-10 rounded-md"
                alt=""
                width="200"
                height="200"
              />
              <div class="space-y-1">
                <span
                  class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 bg-electric-violet-500/10 text-electric-violet-400 border-electric-violet-500/20"
                >
                  {
                    session.user.tier
                      ? `Tier ${session.user.tier}`
                      : "Sin suscripción"
                  }
                </span>

                <p class="text-xs text-neutral-400">
                  {
                    session.user.tier
                      ? "Eres miembro del canal de SaltoUruguayServer en Twitch"
                      : "¡Apóyanos en Twitch! Obtén beneficios exclusivos."
                  }
                </p>

                {
                  !session.user.tier && (
                    <a
                      href="https://twitch.tv/subs/SaltoUruguayServer"
                      target="_blank"
                      class="!mt-4 px-3 py-2 bg-neutral-800 rounded-md hover:bg-electric-violet-700 transition-colors inline-flex items-center  text-sm font-semibold focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2"
                    >
                      <LucideExternalLink class="size-5 mr-1 inline" />
                      Suscribirse
                    </a>
                  )
                }
              </div>
            </article>
          </div>
        </section>
      </aside>

      <UserAccountLayout
        session={session}
        discordUser={discordUser}
        client:idle
      />
    </div>
  </div>
</Layout>
