---
import { Container3D } from "@/components/Container3D";
import { MemberCard } from "@/components/MemberCard";
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";
import { LucideLock, LucidePencilRuler } from "lucide-preact";

const session = await getSession(Astro.request);

const COMMUNITY_GRID_CARDS = [
  {
    path: "/comunidad/member-card",
    requiresLogin: true,
    title: "Miembro Saltano",
    description: "Manejá tu perfil y participá en la comunidad.",
    image: "/images/member-card.webp",
    soon: true,
  },
];
---

<Layout title="Comunidad">
  <div class="flex flex-col max-w-5xl mx-auto min-h-screen mt-16">
    <header
      class="relative z-10 flex flex-col items-center justify-center h-full max-w-4xl mx-auto"
    >
      <div class="flex items-center justify-center gap-x-4">
        <div
          class="relative animate-fade-in-up"
          style="--floating-duration: 5000ms"
        >
          <img
            src="/images/logo_salto.webp"
            alt="SaltoUruguayServer"
            class="size-18 md:size-24 w-auto object-contain aspect-square animate-sink animate-iteration-count-infinite animate-duration-[var(--floating-duration)] saturate-150"
          />
          <img
            src="/images/logo_salto.webp"
            alt="SaltoUruguayServer"
            class="absolute blur-md brightness-125 saturate-200 inset-0 size-18 md:size-24 w-auto object-contain aspect-square z-[-1] animate-sink animate-iteration-count-infinite animate-duration-[var(--floating-duration)]"
          />
        </div>
        <h1
          class="text-3xl animate-fade-in-up animate-delay-150 font-rubik tracking-wider uppercase font-bold text-white mix-blend-screen"
        >
          Comunidad
        </h1>
      </div>

      <h2
        class="text-xl animate-fade-in-up animate-delay-300 font-rubik uppercase text-white mix-blend-screen my-5 sm:pb-10"
      >
        ¡Te damos la bienvenida a la <span class="text-yellow-400"
          >comunidad Saltana</span
        >!
      </h2>
    </header>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
      {
        COMMUNITY_GRID_CARDS.map((card) => {
          const isDisabled = (card.requiresLogin && !session) || card.soon;
          const Tag =
            card.soon || (card.requiresLogin && !session) ? "div" : "a";
          return (
            <Tag
              href={isDisabled ? "#" : card.path}
              class={`group relative overflow-hidden rounded-lg shadow-lg bg-white/10 hover:bg-white/20 transition-all duration-300 ${
                isDisabled ? "cursor-not-allowed" : ""
              }`}
              {...(!card.soon &&
                card.requiresLogin &&
                !session && { "data-click-to-login": true })}
              aria-disabled={isDisabled}
              title={
                card.soon
                  ? "Próximamente"
                  : card.requiresLogin && !session
                    ? "Inicia sesión para acceder"
                    : ""
              }
            >
              <img
                src={card.image}
                alt={card.title}
                class="w-full h-48 object-cover object-center group-hover:scale-105 transition-all duration-300 saturate-[.9] group-hover:saturate-150"
              />
              <div class="p-4">
                <h3 class="text-xl font-teko uppercase font-bold text-white group-hover:text-yellow-400 transition-all duration-300">
                  {card.title}
                </h3>
                <p class="text-sm text-white/70 font-rubik">
                  {card.description}
                </p>
              </div>
              {card.soon && (
                <div class="absolute inset-0 flex bg-black/50 items-center justify-center text-white font-bold text-lg">
                  <span class="flex items-center flex-col gap-y-2">
                    <LucidePencilRuler size={24} />
                    <span>Próximamente</span>
                  </span>
                </div>
              )}
              {card.requiresLogin && !session && !card.soon && (
                <div class="absolute inset-0 flex bg-black/50 items-center justify-center text-white font-bold text-lg">
                  <span class="flex items-center flex-col gap-y-2">
                    <LucideLock size={24} />
                    <span>Requiere inicio de sesión</span>
                  </span>
                </div>
              )}
            </Tag>
          );
        })
      }
    </div>

    <!--  <div class="max-w-3xl">
      <Container3D client:only>
        <MemberCard
          client:idle
          user={{
            username: "Alexitoo_UY",
            avatar: "https://www.alexitoo.dev/images/me.webp",
          }}
          number={1}
          selectedStickers={{
            limit: 2,
            list: ["saltoSorpresa", "saltoBaile"],
          }}
        />
      </Container3D>
    </div> -->
  </div>
</Layout>

<script>
  import { showSignInDialog } from "@/lib/utils";

  document.addEventListener("astro:page-load", () => {
    const cards = document.querySelectorAll("[data-click-to-login]");
    cards.forEach((card) => {
      card.addEventListener("click", (event) => {
        if (card.getAttribute("aria-disabled") === "true") {
          event.preventDefault();
          showSignInDialog();
        }
      });
    });
  });
</script>
