---
import { ACHIEVEMENTS, ACHIEVEMENTS_TEXTS } from "@/consts/Achievements";
import CommunityLayout from "@/layouts/CommunityLayout.astro";
import { getUserAchievements } from "@/utils/user";
import { getSession } from "auth-astro/server";
import { LucideLockKeyhole } from "lucide-preact";

const session = await getSession(Astro.request);

if (!session) {
  return new Response(null, {
    status: 404,
  });
}

const userAchievements = await getUserAchievements(session.user.id);
---

<CommunityLayout
  title="Mis Logros"
  description="Descubre los logros que has desbloqueado."
>
  <div class="flex flex-col max-w-5xl mx-auto min-h-screen mt-8">
    <header class="relative z-10 flex flex-col h-full mb-8">
      <div class="flex items-center gap-x-8 flex-col md:flex-row gap-y-6">
        <div class="flex flex-col w-full">
          <h1
            class="text-2xl md:text-4xl font-press-start-2p uppercase text-center md:text-left text-white mb-4"
          >
            Mis Logros
          </h1>
          <p class="text-center md:text-left font-vt323 text-xl text-gray-400">
            Aquí encontrarás todos los logros que has desbloqueado
          </p>
        </div>
      </div>
    </header>

    <div class="flex flex-col pb-16">
      <div class="block max-w-md mt-2 mb-8 pixel-panel p-4">
        <div class="block pb-2 text-lg font-vt323 text-white">
          Desbloqueaste
          <span class="font-bold text-yellow-400"
            >{userAchievements.length}</span
          > de {Object.keys(ACHIEVEMENTS).length} logros. ¡Seguí así!
        </div>
        <div class="relative w-full h-4 bg-black border-2 border-gray-700">
          <div
            class="h-full bg-green-500 transition-all duration-500"
            style={{
              width: `${(userAchievements.length / Object.keys(ACHIEVEMENTS).length) * 100}%`,
            }}
          >
          </div>
        </div>
      </div>

      <ul
        class="grid grid-cols-1 gap-8 mt-4 sm:grid-cols-2 md:grid-cols-3 max-w-4xl mx-auto mb-16"
      >
        {
          Object.keys(ACHIEVEMENTS).map((key) => {
            // @ts-ignore
            const achievement = ACHIEVEMENTS[key];

            const achievementText = ACHIEVEMENTS_TEXTS.find(
              (achievementText) => achievementText.id === achievement
            );

            const unlockedAt = userAchievements.find(
              (userAchievement) => userAchievement.achievementId === achievement
            )?.unlockedAt;

            const iconUrl = `/images/achievements/${achievement}.svg`;

            return (
              <li
                class={`pixel-card p-4 flex flex-col text-center transition hover:scale-105 group bg-[#1f2937] ${!unlockedAt ? "grayscale opacity-75 hover:grayscale-0 hover:opacity-100" : ""}`}
              >
                <picture class="block mb-4 w-full aspect-square bg-black/20 border-4 border-black relative">
                  <img
                    src={iconUrl}
                    alt={`Ilustración de ${achievementText?.title}`}
                    class="block w-full aspect-square"
                    style="image-rendering: pixelated;"
                  />
                  {!unlockedAt && (
                    <div class="absolute inset-0 flex items-center justify-center bg-black/80 flex-col">
                      <LucideLockKeyhole size={48} className="text-gray-500" />
                      <span class="block mt-2 text-gray-500 font-press-start-2p text-xs">
                        Bloqueado
                      </span>
                    </div>
                  )}
                </picture>
                <div class={`flex flex-col flex-1 justify-between`}>
                  <div>
                    <h2 class="text-xs md:text-sm font-press-start-2p text-yellow-400 mb-3 leading-relaxed min-h-[3em] flex items-center justify-center">
                      {achievementText?.title}
                    </h2>
                    {achievementText && (
                      <p class="text-lg font-vt323 text-gray-300 leading-tight mb-2">
                        {achievementText.description}
                      </p>
                    )}
                  </div>

                  {unlockedAt && (
                    <span class="text-sm text-green-400 font-vt323 mt-2 border-t-2 border-gray-700 pt-2">
                      Desbloqueado el{" "}
                      {new Date(unlockedAt).toLocaleDateString("es-ES", {
                        day: "numeric",
                        month: "long",
                        year: "numeric",
                      })}
                    </span>
                  )}
                </div>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</CommunityLayout>
