---
import { ViewTransitions } from "astro:transitions";
import type { Preload } from "@/types/Preload";
import SEO from "@/components/SEO.astro";
//import "@/assets/styles/sonner-style.css";
import LoadingIndicator from "astro-loading-indicator/component";
import { getSession } from "auth-astro/server";
import { Toaster } from "sonner";
import "@/assets/styles/sonner-styles.css";

import "@fontsource/anton";
import "@fontsource-variable/rubik";
import "@fontsource-variable/teko";

import SiteFooter from "@/components/SiteFooter.astro";
import SiteHeader from "@/components/SiteHeader.astro";
import SignInModal from "@/components/SignInModal.astro";
interface Props {
  title?: string;
  description?: string;
  preload?: Array<Preload>;
  canonical?: string;
  image?: string;
  hideHeader?: boolean;
}

//const session = await getSession(Astro.request);
if (!Astro.props.preload) Astro.props.preload = [];

const { title, description, preload, canonical, image } = Astro.props;

const session = await getSession(Astro.request);

preload?.push({
  href: "/images/logo_salto.webp",
  as: "image",
  type: "image/webp",
});
---

<!doctype html>
<html lang="es" class="scroll-smooth bg-[#060109]" data-theme="dark">
  <head>
    <SEO
      title={title}
      description={description}
      image={image}
      canonical={canonical}
      preload={preload}
    />
    <ViewTransitions />
    <LoadingIndicator color="#1f97ff" height="3px" />
    <!-- <meta
      id="current-user-data"
      data-user={JSON.stringify({ user: session?.user || null })}
    /> -->
  </head>
  <body
    class="bg-repeat text-white overflow-x-hidden font-sans bg-[url(https://www.alexitoo.dev/bg.svg)] bg-cover"
  >
    <SiteHeader session={session} />

    <main class="px-6 sm:px-10">
      <slot />
    </main>
    <SignInModal />
    <SiteFooter />
    <style is:global>
      html {
        font-family: "Jost Variable", system-ui, sans-serif;
      }

      body:has(dialog[open]) {
        @apply overflow-hidden;
      }

      dialog {
        opacity: 0;
        transform: translateY(-5%);
        transition:
          all 0.3s ease-in-out,
          display 0.3s ease allow-discrete;
      }
      dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
      }

      dialog[open] + .dialog-background {
        display: block;
        position: fixed;
      }

      .dialog-background {
        display: none;
      }

      dialog[open] {
        @apply translate-y-0 transition-all duration-500 ease-in-out opacity-100;
        @starting-style {
          transform: translateY(-5%);
          opacity: 0;
        }
      }
    </style>

    <Toaster
      theme="dark"
      client:only
      transition:name="global-toast"
      transition:persist
    />
  </body>
</html>
